{% extends "base.html" %}

{% block content %}


<div class="row">
  <div class="mt-5">
    <a href="{% url 'index' %}" class="btn btn-primary mr-4">Atras</a>
    <h1>{{ user.id }}</h1>
  </div>
</div>

<ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pearson-tab" data-toggle="tab" href="#pearson" role="tab" aria-controls="pearson" aria-selected="true">Pearson</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cosine-tab" data-toggle="tab" href="#cosine" role="tab" aria-controls="cosine" aria-selected="false">Cosine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="jaccard-tab" data-toggle="tab" href="#jaccard" role="tab" aria-controls="jaccard" aria-selected="false">jaccard</a>
  </li>
</ul>
<div class="row">  
  <div class="tab-content mt-4" id="recommendations">
    <div class="tab-pane fade show active" id="pearson" role="tabpanel" aria-labelledby="pearson-tab">
      <h2 >Recomendaciones</h2> 
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Estimation</th>
            {% if show_action %}
            <th scope="col">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for artist in pearson_predictions %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ artist.artist }}</td>
            <td>{{ artist.estimation }}</td>
            {% if show_action %}
            <td>
              <a class="btn btn-primary" href="{% url 'item_neighbors' artist.artist %}?similarity=pearson" >See neighbours</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not show_action %}
      <h2 >Vecinos</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          {% for neighbor in pearson_neighbors %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ neighbor }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="tab-pane fade" id="cosine" role="tabpanel" aria-labelledby="cosine-tab">
      <h2 >Recomendaciones</h2> 
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Estimation</th>
            {% if show_action %}
            <th scope="col">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for artist in cosine_predictions %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ artist.artist }}</td>
            <td>{{ artist.estimation }}</td>
            {% if show_action %}
            <td>
              <a class="btn btn-primary" href="{% url 'item_neighbors' artist.artist %}?similarity=cosine" >See neighbours</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not show_action %}
      <h2 >Vecinos</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          {% for neighbor in cosine_neighbors %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ neighbor }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="tab-pane fade" id="jaccard" role="tabpanel" aria-labelledby="jaccard-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Estimation</th>
            {% if show_action %}
            <th scope="col">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for artist in cosine_predictions %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ artist.artist }}</td>
            <td>{{ artist.estimation }}</td>
            {% if show_action %}
            <td>
              <a class="btn btn-primary" href="{% url 'user_recommendations' user.pk %}?model_type=User user" >See neighbours</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr >

<div class="row">
  <h2 >Actividad</h2> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artista</th>
        <th scope="col"># de veces oído</th>
      </tr>
    </thead>
    <tbody>
      {% for artist in artist_activities %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ artist.artist_name }}</td>
        <td>{{ artist.activity_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




{% endblock %}
